{% trans_default_domain 'FOSUserBundle' %}

<h2>Change Password</h2>

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div>
        {{ form_label(form.current_password) }}<br />
        {{ form_widget(form.current_password) }}
        {{ form_errors(form.current_password) }}
    </div>
    <div style="margin-top: 20px;">
        {{ form_label(form.plainPassword.first) }}<br />
        {{ form_widget(form.plainPassword.first) }}
        {{ form_errors(form.plainPassword.first) }}
    </div>
    <div style="margin-top: 20px;">
        {{ form_label(form.plainPassword.second, 'New password again') }}<br />
        {{ form_widget(form.plainPassword.second) }}
        {{ form_errors(form.plainPassword.second) }}
    </div>
    <div style="margin-top: 10px;">
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
    {{ form_end(form) }}
</form>
